.containerFooter{
    background-color: var(--elements);

    height: 100%;

    padding: 1rem;
}

.copyWriter{
    color: var(--secondColor);
    font-weight: 600;
}

.copyWriter:hover{
    font-weight: 700;
}