:root{
    --titleColor: #00317a;
    --primaryColor: #c0c0c0;
    --secondColor:  #d4d4d4;
    --backgroundColor: #f0f0f0;
    --elements: #272727;
}

  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: var(--titleColor) #ffffff;
}

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 0.5rem;
}

  *::-webkit-scrollbar-track {
    background: #ffffff;
}

  *::-webkit-scrollbar-thumb {
    background-color: var(--titleColor);
    border-radius: 10px;
    border: 3px none #ffffff;
}

* {
    padding: 0;
    margin: 0;

    list-style: none;
    text-decoration: none;

    box-sizing: border-box;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}