:root{
    --primaryColor: #252525;
    --secondColor:  #d4d4d4;
    --titles: #569aff;
    --backgroundColor: #1b1b1b;
    --elements: #161616;
    --focus: #08377e;
}

  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: var(--focus) #292929;
}

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 0.5rem;
}

  *::-webkit-scrollbar-track {
    background: #ffffff;
}

  *::-webkit-scrollbar-thumb {
    background-color: var(--focus);
    border-radius: 10px;
    border: 3px none #ffffff;
}

* {
    padding: 0;
    margin: 0;

    list-style: none;
    text-decoration: none;

    box-sizing: border-box;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
  background-color: var(--backgroundColor);
}