.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: sticky;
    top: 0.5rem;

    padding: 0.5rem 1rem;
    margin: 0.5rem;

    background-color: var(--elements);

    border-radius: 0.5rem;
}

.header img {
    width: 8rem;
}

.headerOpen{
    justify-content: end;
}

.logoOpen{
    display: none;
}

.icon{
    cursor: pointer;

    margin-right: 1rem;

    font-size: 1.5rem;
}

.iconActive {
    text-align: end;
}

.listItems{
    display: flex;
    flex-direction: column;

    font-size: 1.2rem;

    text-align: end;
}

.items{
    padding: 0.7rem;
}

.items a{
    color: var(--secondColor);
}

.menuClose .list .listItems{
    display: none;
}

.list .listItems li:hover {
    font-weight: 500;
}

.nav-link{
    display: flex;
    justify-content: center;

    font-size: 1.5rem;

    padding: 0.5rem;

    color: var(--secondColor);
}

.nav-link:hover{
    font-weight: bold;
}