:root{
    --titleColor: #00692e;
}

* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


@media (max-width: 768px) {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        position: sticky;
        top: 0;

        padding: 0.5rem 1rem;

        background-color: black;
    }

    .header img {
        width: 8rem;
    }

    .containerCards{
        padding: 1rem;
        margin: 1rem;

        border-radius: 0.5rem;

        background-color: #EAEAEA;
    }

    .itensCards{
        margin: 0.5rem 0;
    }

    .arrowCards{
        display: flex;
        justify-content: end;
    }

    .titleCharts{
        margin: 1rem 0 1rem 0;
        
        color: var(--titleColor);
    }

    .chartLineProfitability{
        margin: 1rem 0 0 0;

        border-radius: 0.5rem;

        background-color: #EAEAEA;
    }

    .insightProfitability{
        display: inline-flex;

        font-weight: bold;
        font-size: 1.5rem;

        min-width: max-content;

        border-radius: 0.5rem;

        padding: 0.5rem;
        margin: 0.5rem 1rem 0.5rem 0;

        color: #fff;
        background-color: #108142;
    }

    .containerBtnSelect{
        display: block;
    }

    .btnSelect{
        display: inline-flex;

        align-items: center;

        font-size: 1.5rem;

        width: max-content;

        border: none;
        border-radius: 0.5rem;

        padding: 0.5rem 1rem;
        margin: 0.5rem 1rem 0.5rem 0;

        color: #fff;
        background-color: #000;
    }

    .chartPolarDistribution{
        padding: 1rem 0;
        margin: 1rem 0 0 0;

        border-radius: 0.5rem;

        background-color: #EAEAEA;
    }

    .containerThTableClasses{
        width: min(90rem, 100% - 3rem);

        margin-inline: auto;
    }

    .thTableClasses{
        color: var(--titleColor);

        font-size: 1.5rem;

        text-align: justify;
    }

    .thdTableClasses{
        text-align: start;
    }

    .tdTableClasses{
        text-align: center;

        padding: 0.5rem 0;

        font-weight: bold;
    }
}